@font-face {
  font-family: Texts;
  src: url("../data/CenturyGothic.TTF");
}

@font-face {
  font-family: Header;
  src: url("../data/BerlinSans.TTF");
}

@font-face {
  font-family: BoldHeader;
  src: url("../data/BerlinSansDemi.TTF");
}

body {
  min-height: 100vh;
  position: relative;
}

.page {
  display: none;
}

#loading {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}

#loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 2s ease-out infinite;
          animation: wave 2s ease-out infinite;
}

#loading .dot:nth-child(1) {
  background: #7cb342;
}

#loading .dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#loading .dot:nth-child(2) {
  background: #689f38;
}

#loading .dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#loading .dot:nth-child(3) {
  background: #558b2f;
}

#loading .dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#loading .dot:nth-child(4) {
  background: #33691e;
}

#loading .dot:nth-child(4)::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#loading .dot:nth-child(5) {
  background: #1b5e20;
}

#loading .dot:nth-child(5)::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

.navbar-fixed nav {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 30px;
  font-family: Header;
}

.navbar-fixed nav.sticky {
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: #fff !important;
}

.navbar-fixed nav.sticky h5 {
  color: #33691e !important;
}

.navbar-fixed nav.sticky a.brand-logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-fixed nav.sticky ul li a {
  color: #33691e !important;
}

.navbar-fixed nav.sticky ul li a.active {
  color: #fff !important;
  background-color: #33691e;
}

.navbar-fixed nav .nav-wrapper a.brand-logo {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-fixed nav .nav-wrapper a.brand-logo img {
  height: 45px;
  margin-right: 10px;
}

.navbar-fixed nav .nav-wrapper ul li a {
  padding: 0 40px;
  font-size: 16px;
}

h1,
h2 {
  font-family: boldHeader;
}

h3,
h4,
h5,
h6 {
  margin-top: 10px;
  font-family: Header;
}

p {
  font-family: texts;
}

hr.divided {
  width: 60px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 3px solid #33691e;
}

.btn-primary {
  font-family: texts;
  font-size: 14px;
  text-transform: capitalize;
  padding: 0 30px;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -64px;
  position: relative;
  width: 100%;
  min-height: 100vh !important;
  height: 100vh !important;
  background-image: url("../img/main-dark.png");
  background-position: center;
  background-size: cover;
}

.jumbotron .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, rgba(255, 255, 255, 0.7)), color-stop(95%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0) 95%);
  -webkit-clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
}

.jumbotron .container {
  position: absolute;
  left: 240px;
}

.jumbotron .container .slogan {
  font-family: BoldHeader;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 5px 0;
}

.jumbotron .container .aboutDesc {
  font-family: texts;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.jumbotron2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -64px;
  position: relative;
  width: 100%;
  min-height: 100vh !important;
  height: 100vh !important;
  background-image: url("../img/main2.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron2 .carousel img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jumbotron2 .carousel .element {
  margin: -7px 0;
  width: 40%;
  height: 4px;
  background-color: #33691e;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.jumbotron2 .carousel-item {
  height: 420px;
  width: 320px;
  background: #fff;
}

.main-parallax {
  margin-top: -64px;
  min-height: 100vh !important;
  height: 100vh !important;
}

.main-parallax .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-parallax .container hr {
  width: 60px;
  border: none;
  margin: 2px 0;
  border-bottom: 3px solid #33691e;
}

.main-parallax .container h4 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-parallax .main-head {
  display: inline-block;
  padding: 5px 20px;
  margin: 5px 0px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-parallax p {
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.service {
  height: 90vh;
}

.service .parallax img {
  -webkit-filter: grayscale(1) brightness(1.2);
          filter: grayscale(1) brightness(1.2);
}

.service .col:nth-child(1) {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service .col:nth-child(1) img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
}

.service .collapsible {
  border: none !important;
}

.service .collapsible li {
  font-family: texts;
  font-size: 16px;
}

.service .collapsible li span {
  font-size: 14px;
}

.service .collapsible-header, .service .collapsible-body {
  border-bottom: none !important;
}

.service .collapsible-body {
  padding: 1.2rem;
}

.about {
  margin: 40px 0;
}

.about h3 {
  margin-top: 10px;
}

.about .card .card-content .goal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

.goal .goal-box {
  margin-bottom: 0;
  min-height: 200px;
}

.goal .goal-box:nth-child(1) .col {
  height: 200px;
}

.goal .goal-box:nth-child(1) .col:nth-child(1) {
  background: url("../img/assets/Mountain-1.jpg");
  background-position: center;
  background-size: cover;
}

.goal .goal-box:nth-child(1) .col:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goal .goal-box:nth-child(2) .col {
  height: 200px;
}

.goal .goal-box:nth-child(2) .col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goal .goal-box:nth-child(2) .col:nth-child(2) {
  background: url("../img/assets/Mountain-2.jpg");
  background-position: center;
  background-size: cover;
}

.footer {
  position: relative;
  min-height: 60vh;
}

.footer .row {
  margin-bottom: 0;
}

.footer .kegiatan .col {
  padding: 5px;
}

.footer .kegiatan .footerKegiatan {
  width: 80px;
  height: 80px;
}

.footer hr {
  border: none;
  border-bottom: 2px solid #fff;
  width: 40px;
  margin: 10px 0;
}

.footer img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.footer #sosmed a {
  font-size: 28px;
  margin: 0 10px;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111111;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.keahlian .row {
  margin-bottom: 0;
}

.keahlian .row .col {
  height: 200px;
  position: relative;
  padding: 0;
  overflow-y: hidden;
}

.keahlian .row .col .gambar-keahlian {
  position: relative;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.keahlian .row .col::before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.keahlian .row .col h5 {
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.keahlian .row .col .desc-keahlian {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 10%;
  width: 80%;
  -webkit-transition: 1s;
  transition: 1s;
}

.keahlian .row .col:hover h5 {
  top: 0;
}

.keahlian .row .col:hover .desc-keahlian {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.keahlian .row .col:hover::before {
  background: rgba(0, 0, 0, 0.8);
}

.pengalaman {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.pengalaman .card {
  margin: 0rem 0 1rem 0 !important;
  min-height: 320px;
}

.pengalaman .card-content {
  padding: 0 !important;
}

.pengalaman .card .row {
  margin-bottom: 0;
}

.pengalaman .card .row:nth-child(odd) h5 {
  text-align: left;
  left: -40px;
}

.pengalaman .card .row:nth-child(odd) .col {
  float: left;
}

.pengalaman .card .row:nth-child(odd) .col:nth-child(1) {
  padding: 0 !important;
}

@media (max-width: 600px) {
  .pengalaman .card .row:nth-child(odd) .col:nth-child(1) {
    display: none;
  }
}

.pengalaman .card .row:nth-child(odd) .col:nth-child(2) {
  padding: 1.2rem !important;
}

.pengalaman .card .row:nth-child(even) h5 {
  text-align: right;
  right: -40px;
}

.pengalaman .card .row:nth-child(even) .col {
  float: right;
}

.pengalaman .card .row:nth-child(even) .col:nth-child(1) {
  padding: 0 !important;
}

.pengalaman .card .row:nth-child(even) .col:nth-child(2) {
  padding: 1.2rem !important;
}

@media (max-width: 600px) {
  .pengalaman .card .row:nth-child(even) .col:nth-child(2) {
    float: left !important;
    width: 100%;
  }
}

.pengalaman .card .row:nth-child(5) .col {
  height: 520px;
}

.pengalaman .card .col {
  position: relative;
  height: 320px;
}

@media (min-width: 600px) {
  .pengalaman .card .col .gambar-pengalaman {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .pengalaman .card .col h5 {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 5px 20px;
  }
}

@media (max-width: 600px) {
  .pengalaman .card .col .gambar-pengalaman {
    display: none;
  }
  .pengalaman .card .col h5 {
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
  }
}

.pengalaman .card .col ul {
  margin-top: 40px;
  margin-left: 20px;
}

.pengalaman .card .col ul li {
  list-style-type: decimal;
  font-family: texts;
  font-size: 16px;
}

.portfolio {
  min-height: 60vh;
}

@media (max-width: 600px) {
  .portfolio {
    min-height: 120vh;
  }
}

.portfolio img {
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.portfolio ul li {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Texts';
  list-style: decimal-leading-zero;
}
/*# sourceMappingURL=main.css.map */